body{
	background-color:#20b2aa;
}
h1{
	text-align:center;
	color:white;
}
form{
	padding-left:15%;
	padding-top:35px;
	padding-bottom:30px;
	background-color:#2cd9d0;
	margin-left:25%;
	margin-right:20%;
	font-size:25px;
}
button{
	background-color:#1e90ff
	color:white;
}
	