.image{
	padding-left:40%;
	padding-right:20%;
	padding-bottom: 25px;
}

.text{
	padding-left:5%;
	spacing:15px;
	font-size:25px;

}
p{
	padding-left:35%
}
 a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}
body{
	background:#ADD8E6;
}